<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yellowgg.mapper.DiaryMapper">
    <select id="findAllByCate" parameterType="Category"
            resultType="Diary">
    select * from t_diary where categoryid = #{categoryid} order by
    createtime desc
    </select>

    <select id="findAllByCatePage" parameterType="Category" resultType="Diary">
    select * from t_diary where categoryid = #{category.categoryid} order by
    createtime desc limit #{startIndex},#{pageSize}
    </select>

    <select id="findAllByContentPage" parameterType="Diary" resultType="Diary">
    select * from t_diary where diarycontent like "%"#{diary.diarycontent}"%"
    order by createtime desc limit #{startIndex},#{pageSize}
    </select>

    <select id="findById" parameterType="Diary" resultType="Diary">
    select * from t_diary where diaryid = #{diaryid} limit 1
    </select>

    <select id="getCountOfSearchKey" parameterType="Diary" resultType="int">
    select count(*) from t_diary where diarycontent like
    "%"#{diarycontent}"%"
    </select>

    <select id="findNext" parameterType="Diary" resultType="Diary">
    select * from t_diary where createtime
    &gt;
    (
        SELECT createtime FROM t_diary where diaryid =
        #{diaryid}
    )
    order by createtime limit 1
    </select>

    <select id="findPrev" parameterType="Diary" resultType="Diary">
    select * from t_diary where createtime
    &lt;
    (
        SELECT createtime FROM t_diary where diaryid =
        #{diaryid}
    )
    order by createtime desc limit 1
    </select>

    <insert id="addNewDiary" parameterType="Diary">
    insert into t_diary values (#{diaryid} ,#{categoryid} ,#{daytime}
    ,#{diarycontent} ,#{diarytitle} ,#{diarysubtitle} ,#{createtime} )
    </insert>

    <update id="editDiary" parameterType="Diary">
    update t_diary set diarytitle = #{diarytitle} ,diarysubtitle =
    #{diarysubtitle} ,diarycontent = #{diarycontent} where diaryid = #{diaryid}
    </update>

</mapper>