/*头像框*/
.bridecol, .groomcol {
    height: 200px;
    /*width: 400px;*/
    border-radius: 100px;
    background: rgba(255, 255, 255, .8);
    margin-bottom: 20px;
    position: relative;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(1.2);
        opacity: 0.75;
    }
    to {
        -webkit-transform: scale(1.0);
        opacity: 1;
    }
}


.cplus {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    color: #f20e0e;
    font-size: 80px;
    position: absolute;
    right: -50px;
    top: 50%;
    margin-top: -40px;
    z-index: 100;

}

.cplus {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
}

.bridepic {
    height: 160px;
    width: 160px;
    border-radius: 80px;
    margin: 20px;
    float: left;
    overflow: hidden;

}

.brideinfo {
    float: left;
    margin-top: 50px;
}

.groominfo {
    float: right;
    margin-top: 50px;
    text-align: right;
}

.brideinfo h3, .groominfo h3 {
    font-family: Cherry swash;
    font-size: 26px;
    color: #222;
}

.groompic {
    height: 160px;
    width: 160px;
    border-radius: 80px;
    margin: 20px;

    float: right;
    overflow: hidden;
}

@media (max-width: 992px) {
    .cplus {
        display: none;
    }

    .bridecol, .groomcol {
        height: 160px;
        border-radius: 80px;
        background: rgba(255, 255, 255, .8);
        margin-bottom: 20px;
        position: relative;
        min-width: 300px;
    }

    .bridepic {
        height: 120px;
        width: 120px;
        border-radius: 60px;
        margin: 20px;
        float: left;
        overflow: hidden;

    }

    .groompic {
        height: 120px;
        width: 120px;
        border-radius: 60px;
        margin: 20px;
        float: right;
        overflow: hidden;

    }

    .brideinfo, .groominfo {
        margin-top: 30px;
    }

}

/*时间框*/

h2.section-title {
    font-size: 36px;
    margin: 50px 0px 30px 0px;
    font-family: Cherry swash;
    color: #769A38;
}

h2.section-title span {
    font-size: 14px;
    font-family: PT sans;

}

h2.section-title span a {
    color: #666;
}

.timer-box {
    /*background: url(../images/swirl.png);*/
    /*border-bottom: 1px solid #efefef;*/
}

h2.timehead {
    font-size: 42px;
    color: #555;
    text-align: center;
    font-family: Cherry swash;
    margin-top: 40px;
}

#ctimer {
    width: 320px;
    margin: 0px auto;
    margin-bottom: 30px;
}

#ctimer span {
    display: inline-block;
    background: #1380ab;
    color: #fff;
    text-align: center;
    margin: 20px 10px;
    width: 80px;
    height: 80px;
    border-radius: 3px;

}

#ctimer span h3 {
    margin: 15px 0px 0px 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 32px;

}